<html>
  <head>
    <title>bullshitr</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
    <link rel="stylesheet" href="master.css">
  </head>
  <body>
    <div class="hero-unit">
      <div class="container"><h1>bullshitr<small>Are you one?</small></h1></div>
    </div>
    <div class="container center">
      <div class="stat hero-unit">
        <h1>Your essay is <%= @essay.text_classification %>.</h1>
      </div>
      <div class="stats row">
        <div class="stat hero-unit span6">
          <h1><%= @essay.count[:words] %></h1>
          <p>words</p>
        </div>
        <div class="stat hero-unit span6">
          <h1><%= @essay.count[:weasels] %></h1>
          <p>weasels</p>
        </div>
      </div>
    </div>
  </body>
</html>