<html>
  <head>
    <title>bullshitr</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
    <link rel="stylesheet" href="master.css">
  </head>
  <body>
    <div class="hero-unit">
      <div class="container"><h1>bullshitr<small>Are you one?</small></h1></div>
    </div>
    <div class="container center">
      <p><h1>Your essay is <%= @essay.text_classification %>.</h1></p>
      <div class="stats">
        <h2>Words: <%= @essay.stats[:word_count] || 0 %></h2>
      </div>
    </div>
  </body>
</html>