<html>
  <head>
    <title>bullshitr</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
    <link rel="stylesheet" href="master.css">
  </head>
  <body>
    <div class="hero-unit">
      <div class="container"><h1>bullshitr<small>Are you one?</small></h1></div>
    </div>
    <div class="container center">
      <form id="form" action="/essay" method="post">
        <p>
          <textarea name="text" class="essay_box" id="text" name="text" rows="3"></textarea>
        </p>
        <p style="margin-top: 20px;">
          <input type="submit" id ="submit" class="btn danger crap_button" value="Am I Talking Crap?"/>
        </p>
      </form>
    </div>
  </body>
</html>