<html>
  <head>
    <title>bullshitr</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
  </head>
  <body>
    <div class="hero-unit">
      <div class="container"><h1>bullshitr<small>Are you one?</small></h1></div>
    </div>
    <div class="container">
    </div>
  </body>
</html>